<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = 'post' enctype="multipart/form-data">

			<label>
			<span>标题</span>
			<input id="article_title" type="text" name="article_title" placeholder="标题" />
			</label>

			<label>
			<span>文章内容</span>
			<textarea id="passage" name="passage" placeholder="。。。。"></textarea>
			</label>

			<label>
			<span>&nbsp;</span>
			<input type="submit" class="button" value="发送" />
			</label>
</form>
</body>
</html>