<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传故事</title>
</head>
<body>
<h1>新故事：</h1>
    <form method = 'post' enctype="multipart/form-data">
            {% csrf_token %}
			<label>
			<span>标题：</span>
			<input id="title" type="text" name="title" placeholder="标题" />
			</label>

			<label>
			<span>文章：</span>
            <textarea id="passage" name="passage" placeholder="文章"></textarea>
			</label>

            <label>
			<span>图片</span>
			<input id="img" type="file" name="img" />
			</label>

			<label>
			<input type="submit" id="submit" class="button" value="上传" />
			</label>

</form>
</body>
</html>